/* Add CSS Styling */
.first {
  background-color: pink;
  font-family: verdana, "DejaVu sans", sans-serif;
}
#second {
  color: blue;
  font-size: 40px;
  font-weight: bolder;
}

.third {
  background-color: pink;
  font-weight: bold;
  font-size: 32px;
}

#fourth {
  background-color: greenyellow;
  font-weight: bold;
  font-size: 32px;
}

.last {
  background-color: pink;
}
